.Addcontainer{
    display: block !important;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    /* border: 2px solid black; */
}
.heading{
    text-align: center;
}
label{
    margin: auto;
}
.form{
    margin-left: 120px;
    font-weight: 500;
    font-size: 20px;
}
.description{
    margin-top: 15px;
}
.input{
    border: 2px solid gray;
    width: 800px;
    border-radius: 5px;
    /* box-sizing: border-box; */
    margin-top: 2px;
}
.submit{
    margin-top: 20px;
    color: black;
    border-radius: 5px;
    background-color: rgb(53, 189, 230);
}
.submit:hover{
    background-color: rgb(19, 112, 143);
}