.container{
    width: 1000px;
    margin-top: 50px;
    display: flex !important;
    justify-content: center;
    border: 5px solid rgb(15, 124, 164);
    border-radius: 10px;
    height: 500px;
    width: 600px;
   
}
.heading{
    margin-top: 20px;
    padding: auto;
    text-align: center;
    text-decoration: underline;
}
.Sinput{
width: 400px;
}
.form_input{
    margin-top: 15px;
}
